<div class="cliente-edit">
	<h1>{{ title }}</h1>

	<p *ngIf="this.id && !setting"><em>Carregando...</em></p>

	<div class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
		<div class="form-group">
			<label for="name">Nome:</label>
			<br />
			<input type="text" id="name" formControlName="name" required placeholder="Nome..." class="form-control" />
		</div>
		<div class="form-group">
			<label for="environment">Ambiente AppServer:</label>
			<br />
			<input type="text" id="environment" formControlName="environment" required placeholder="Nome do ambiente..."
				class="form-control" />
		</div>
		<div class="form-group">
			<label for="server">Servidor:</label>
			<br />
			<input type="text" id="server" formControlName="server" required placeholder="Nome do servidor ou IP..."
				class="form-control" />
		</div>
		<div class="form-group">
			<label for="port">Porta:</label>
			<br />
			<input type="number" id="port" formControlName="port" required placeholder="Porta do AppServer..."
				class="form-control" />

		</div>
		<div class="form-group">
			<label for="version">Versão AppServer:</label>
			<br />
			<input type="string" id="version" formControlName="version" required class="form-control" />

		</div>
		<div class="form-group">
			<label for="protheusPath">Pasta Protheus:</label>
			<br />
			<input type="string" id="protheusPath" formControlName="protheusPath" required class="form-control" />

		</div>
		<div class="form-group">
			<label for="ssl">AppServer usa SSL:</label>
			<br />
			<input type="checkbox" id="ssl" formControlName="ssl" class="form-control" />

		</div>
		<div class="form-group">
			<label for="user">Usuário do Protheus:</label>
			<br />
			<input type="text" id="user" formControlName="user" required placeholder="Usuário do Protheus..."
				class="form-control" />

		</div>
		<div class="form-group">
			<label for="password">Senha do SIGACFG:</label>
			<br />
			<input type="password" id="password" formControlName="password" required placeholder="Senha do SIGACFG..."
				class="form-control" />
		</div>
		<div class="form-group">
			<label for="gitAdress">URL de checkout do GIT:</label>
			<br />
			<input type="text" id="gitAdress" formControlName="gitAdress" required
				placeholder="Url do GIT do protheus..." class="form-control" />
		</div>
		<div class="form-group">
			<label for="branch">Branch:</label>
			<br />
			<input type="text" id="branch" formControlName="branch" required placeholder="Branch do GIT..."
				class="form-control" />
		</div>
		<div class="form-group">
			<label for="gitUser">Usuário do GIT:</label>
			<br />
			<input type="text" id="gitUser" formControlName="gitUser" required placeholder="Usuário do GIT..."
				class="form-control" />
		</div>
		<div class="form-group">
			<label for="gitPassword">Senha do GIT:</label>
			<br />
			<input type="password" id="gitPassword" formControlName="gitPassword" required placeholder="Senha do GIT..."
				class="form-control" />
		</div>
		<div class="form-group">
			<label for="includePath">Pasta no GIT com includes:</label>
			<br />
			<input type="string" id="includePath" formControlName="includePath" required
				placeholder="Pasta no GIT com includes..." class="form-control" />
		</div>
		<div class="form-group">
			<label for="patchPathOldApply">Pasta no GIT com patchs aplicados integralmente:</label>
			<br />
			<input type="string" id="patchPathOldApply" formControlName="patchPathOldApply" required
				class="form-control" />
		</div>
		<div class="form-group">
			<label for="patchPathApply">Pasta no GIT com patchs aplicados só com fontes atualizados:</label>
			<br />
			<input type="string" id="patchPathApply" formControlName="patchPathApply" required class="form-control" />
		</div>
		<div class="form-group">
			<label for="regex">Regex de aplicação:</label>
			<br />
			<input type="string" id="regex" formControlName="regex" required class="form-control" />
		</div>

		<div class="form-group commands">
			<button *ngIf="id" type="submit" (click)="onSubmit()" [disabled]="form.invalid" class="btn btn-success">
				Salvar
			</button>
			<button *ngIf="!id" type="submit" (click)="onSubmit()" [disabled]="form.invalid" class="btn btn-success">
				Incluir
			</button>
			<button type="button" [routerLink]="['/clientes']" class="btn btn-default">
				Cancelar
			</button>
		</div>
	</div>
</div>