<div class="container">
  <p-table
    #dt
    [columns]="cols"
    [value]="settings"
    dataKey="id"
    selectionMode="single"
    (onRowSelect)="onEdit($event)"
    [lazy]="true"
    (onLazyLoad)="loadData($event)"
  >
    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
          {{ col.header }}
          <p-sortIcon
            [field]="col.field"
            ariaLabel="Activate to sort"
            ariaLabelDesc="Activate to sort in descending order"
            ariaLabelAsc="Activate to sort in ascending order"
          ></p-sortIcon>
        </th>
        <th style="width: 8em;"></th>
      </tr>
      <tr>
        <th *ngFor="let col of columns" [ngSwitch]="col.field">
          <input
            *ngSwitchCase="'name'"
            pInputText
            type="text"
            (input)="
              updateFilterQuery($event.target.value, col.field, 'contains')
            "
          />
        </th>
        <th style="width: 8em;"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr [pSelectableRow]="rowData">
        <td *ngFor="let col of columns">
          {{ rowData[col.field] }}
        </td>
        <td style="text-align: center;">
          <button
            pButton
            type="button"
            icon="pi pi-upload"
            class="ui-button-info"
            (click)="RunApplication(rowData)"
            [disabled]="rowData['running']"
          >
            Aplicar
          </button>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <button
    type="button"
    [routerLink]="['/configuracao']"
    class="btn btn-success m-4"
  >
    Adicionar Configuracoes
  </button>
</div>

<textarea
  [rows]="5"
  [cols]="150"
  [(ngModel)]="scriptText"
  pInputTextarea
></textarea>
